:root {
  --black: #222222;
  --grey: #999999;
  --white: #eeeeee;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: var(--black);
  color: var(--white);
}

*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

textarea {
  white-space: revert;
}

form {
  display: flex;
}

input {
  border: none;
  outline: none;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  background: var(--white);
}

input[type=submit] {
  border: none;
  outline: none;
  margin: 0.5rem;
  background: var(--white);
  color: var(--black);
}